@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-shape-divider-top-1676395250 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1676395250 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 255px;
}

.custom-shape-divider-top-1676395250 .shape-fill {
  fill: #ffffff;
}

.leaflet-container {
  height: 600px;
  width: 100%;
}
